# Pandas

This notebook presents an introduction to the `pandas` package.
We focus on only the most commonly used features of `pandas` as they pertain to geospatial data analysis. More extensive references are given at the end of the notebook

In [1]:
import pandas
import numpy as np

In [2]:
ward = np.tile([1,2,3,4,5], 5)
population = np.random.randint(5000, size=(25,))
poverty = np.random.random(size=(25,)) * .4

In [3]:
poverty

array([0.22658756, 0.13294767, 0.04254326, 0.13207946, 0.19853927,
       0.38241167, 0.12990914, 0.1379655 , 0.02541295, 0.25936369,
       0.23519069, 0.10144763, 0.23652677, 0.34235948, 0.19254143,
       0.02441129, 0.07094293, 0.12716738, 0.24172646, 0.24221244,
       0.39603428, 0.22921059, 0.04232486, 0.36245328, 0.16846505])

In [4]:
population

array([4739, 3050, 4059, 2673, 4651, 2307, 1775, 4777, 1263, 1069, 1136,
       2863, 4320, 2000, 4886,  490, 2202, 4057, 1044, 4744, 3438, 2681,
       4743, 3962, 2760])

In [5]:
ward

array([1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2,
       3, 4, 5])

In [6]:
df = pandas.DataFrame({'population': population,
                      'ward': ward,
                      'poverty': poverty})

In [7]:
df.head()

   population  ward   poverty
0        4739     1  0.226588
1        3050     2  0.132948
2        4059     3  0.042543
3        2673     4  0.132079
4        4651     5  0.198539

In [8]:
df.shape

(25, 3)

In [9]:
type(df)

pandas.core.frame.DataFrame

In [10]:
type(df.population)

pandas.core.series.Series

## indexing

In [11]:
df['population']

0     4739
1     3050
2     4059
3     2673
4     4651
5     2307
6     1775
7     4777
8     1263
9     1069
10    1136
11    2863
12    4320
13    2000
14    4886
15     490
16    2202
17    4057
18    1044
19    4744
20    3438
21    2681
22    4743
23    3962
24    2760
Name: population, dtype: int64

In [12]:
df.population

0     4739
1     3050
2     4059
3     2673
4     4651
5     2307
6     1775
7     4777
8     1263
9     1069
10    1136
11    2863
12    4320
13    2000
14    4886
15     490
16    2202
17    4057
18    1044
19    4744
20    3438
21    2681
22    4743
23    3962
24    2760
Name: population, dtype: int64

In [13]:
df[0:4]

   population  ward   poverty
0        4739     1  0.226588
1        3050     2  0.132948
2        4059     3  0.042543
3        2673     4  0.132079

In [14]:
df[-4:]

    population  ward   poverty
21        2681     2  0.229211
22        4743     3  0.042325
23        3962     4  0.362453
24        2760     5  0.168465

In [15]:
df[df.ward==2]

    population  ward   poverty
1         3050     2  0.132948
6         1775     2  0.129909
11        2863     2  0.101448
16        2202     2  0.070943
21        2681     2  0.229211

In [16]:
df[(df.ward==2) & (df.population < 1000)]

Empty DataFrame
Columns: [population, ward, poverty]
Index: []

In [17]:
df[~(df.ward==2) & (df.population < 1000)] # not in ward 2 and less than 1000 population

    population  ward   poverty
15         490     1  0.024411

In [18]:
df[~((df.ward==2) & (df.population < 1000))] # not (in ward 2 and less than 1000 population)

    population  ward   poverty
0         4739     1  0.226588
1         3050     2  0.132948
2         4059     3  0.042543
3         2673     4  0.132079
4         4651     5  0.198539
5         2307     1  0.382412
6         1775     2  0.129909
7         4777     3  0.137965
8         1263     4  0.025413
9         1069     5  0.259364
10        1136     1  0.235191
11        2863     2  0.101448
12        4320     3  0.236527
13        2000     4  0.342359
14        4886     5  0.192541
15         490     1  0.024411
16        2202     2  0.070943
17        4057     3  0.127167
18        1044     4  0.241726
19        4744     5  0.242212
20        3438     1  0.396034
21        2681     2  0.229211
22        4743     3  0.042325
23        3962     4  0.362453
24        2760     5  0.168465

In [19]:
df[(df.ward==2) | (df.population < 1000)] #in ward 2 or less than 1000 population)

    population  ward   poverty
1         3050     2  0.132948
6         1775     2  0.129909
11        2863     2  0.101448
15         490     1  0.024411
16        2202     2  0.070943
21        2681     2  0.229211

## New Columns

In [20]:
df.head()

   population  ward   poverty
0        4739     1  0.226588
1        3050     2  0.132948
2        4059     3  0.042543
3        2673     4  0.132079
4        4651     5  0.198539

In [21]:
pop_pov = df.population * df.poverty
pop_pov

0     1073.798468
1      405.490405
2      172.683089
3      353.048391
4      923.406151
5      882.223715
6      230.588732
7      659.061173
8       32.096556
9      277.259786
10     267.176621
11     290.444555
12    1021.795655
13     684.718960
14     940.757434
15      11.961530
16     156.216321
17     515.918051
18     252.362421
19    1149.055836
20    1361.565871
21     614.513595
22     200.746803
23    1436.039876
24     464.963542
dtype: float64

In [22]:
df['pop_pov'] = pop_pov.astype('int')

In [23]:
df.head()

   population  ward   poverty  pop_pov
0        4739     1  0.226588     1073
1        3050     2  0.132948      405
2        4059     3  0.042543      172
3        2673     4  0.132079      353
4        4651     5  0.198539      923

## Aggregation/Groupby

In [24]:
df.groupby(by='ward').sum()

      population   poverty  pop_pov
ward
1          12110  1.264635     3594
2          12571  0.664458     1695
3          21956  0.586528     2567
4          10942  1.104032     2757
5          18110  1.061122     3753

In [25]:
df.groupby(by='ward').sum()[['population', 'pop_pov']]

      population  pop_pov
ward
1          12110     3594
2          12571     1695
3          21956     2567
4          10942     2757
5          18110     3753

In [26]:
ward_df = df.groupby(by='ward').sum()[['population', 'pop_pov']]

In [27]:
ward_df['poverty'] = ward_df.pop_pov / ward_df.population

In [28]:
ward_df.head()

      population  pop_pov   poverty
ward
1          12110     3594  0.296780
2          12571     1695  0.134834
3          21956     2567  0.116916
4          10942     2757  0.251965
5          18110     3753  0.207234

## Joins

In [29]:
ward_df.index

Int64Index([1, 2, 3, 4, 5], dtype='int64', name='ward')

In [30]:
df.merge(ward_df, how='left', on='ward')

,population_x,ward,poverty_x,pop_pov_x,population_y,pop_pov_y,poverty_y
0,4739,1,0.226588,1073,12110,3594,0.296780
1,3050,2,0.132948,405,12571,1695,0.134834
2,4059,3,0.042543,172,21956,2567,0.116916
3,2673,4,0.132079,353,10942,2757,0.251965
4,4651,5,0.198539,923,18110,3753,0.207234
5,2307,1,0.382412,882,12110,3594,0.296780
6,1775,2,0.129909,230,12571,1695,0.134834
7,4777,3,0.137965,659,21956,2567,0.116916
8,1263,4,0.025413,32,10942,2757,0.251965
9,1069,5,0.259364,277,18110,3753,0.207234
10,1136,1,0.235191,267,12110,3594,0.296780
11,2863,2,0.101448,290,12571,1695,0.134834
12,4320,3,0.236527,1021,21956,2567,0.116916
13,2000,4,0.342359,684,10942,2757,0.251965
14,4886,5,0.192541,940,18110,3753,0.207234
15,490,1,0.024411,11,12110,3594,0.296780
16,2202,2,0.070943,156,12571,1695,0.134834
17,4057,3,0.127167,515,21956,2567,0.116916
18,1044,4,0.241726,252,10942,2757,0.251965
19,4744,5,0.242212,1149,18110,3753,0.207234
20,3438,1,0.396034,1361,12110,3594,0.296780
21,2681,2,0.229211,614,12571,1695,0.134834
22,4743,3,0.042325,200,21956,2567,0.116916
23,3962,4,0.362453,1436,10942,2757,0.251965
24,2760,5,0.168465,464,18110,3753,0.207234

In [31]:
df = df.merge(ward_df, how='left', on='ward')

In [32]:
names = df.columns

In [33]:
new_names = [name.replace("_y", "_ward") for name in names]
df.columns = new_names
df.head()

,population_x,ward,poverty_x,pop_pov_x,population_ward,pop_pov_ward,poverty_ward
0,4739,1,0.226588,1073,12110,3594,0.296780
1,3050,2,0.132948,405,12571,1695,0.134834
2,4059,3,0.042543,172,21956,2567,0.116916
3,2673,4,0.132079,353,10942,2757,0.251965
4,4651,5,0.198539,923,18110,3753,0.207234

In [34]:
df[df.poverty_x > df.poverty_ward]

,population_x,ward,poverty_x,pop_pov_x,population_ward,pop_pov_ward,poverty_ward
5,2307,1,0.382412,882,12110,3594,0.296780
7,4777,3,0.137965,659,21956,2567,0.116916
9,1069,5,0.259364,277,18110,3753,0.207234
12,4320,3,0.236527,1021,21956,2567,0.116916
13,2000,4,0.342359,684,10942,2757,0.251965
17,4057,3,0.127167,515,21956,2567,0.116916
19,4744,5,0.242212,1149,18110,3753,0.207234
20,3438,1,0.396034,1361,12110,3594,0.296780
21,2681,2,0.229211,614,12571,1695,0.134834
23,3962,4,0.362453,1436,10942,2757,0.251965

## Dealing with *real data*

In [35]:
data = pandas.read_csv('data/CAINC1__ALL_STATES_1969_2017.csv', encoding='latin-1', 
                      skipfooter=3, engine='python')

In [36]:
data.shape

(9594, 57)

In [37]:
data.head()

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,1969,1970,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,"""00000""",United States,,CAINC1,1,...,Personal income (thousands of dollars),Thousands of dollars,791229000,855525000,...,12438527000,12051307000,12541995000,13315478000,13998383000,14175503000,14983140000,15711634000,16115630000,16820250000
1,"""00000""",United States,,CAINC1,2,...,Population (persons) 1/,Number of persons,201298000,203798722,...,304093966,306771529,309338421,311644280,313993272,316234505,318622525,321039839,323405935,325719178
2,"""00000""",United States,,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,3931,4198,...,40904,39284,40545,42727,44582,44826,47025,48940,49831,51640
3,"""01000""",Alabama,5,CAINC1,1,...,Personal income (thousands of dollars),Thousands of dollars,9737715,10628318,...,157479528,155254669,161965527,167675590,172427855,174118716,180220290,187301605,190991192,198916425
4,"""01000""",Alabama,5,CAINC1,2,...,Population (persons) 1/,Number of persons,3440000,3449846,...,4718206,4757938,4785579,4798649,4813946,4827660,4840037,4850858,4860545,4874747

In [38]:
pandas.set_option('display.max_columns', 500)

In [39]:
data.head()

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,"""00000""",United States,,CAINC1,1,...,Personal income (thousands of dollars),Thousands of dollars,791229000,855525000,924613000,1016408000,1133468000,1244912000,1362505000,1495704000,1651632000,1855849000,2073257000,2313160000,2592915000,2779794000,2968676000,3279488000,3510471000,3719647000,3946593000,4267813000,4609667000,4897821000,5067291000,5409920000,5648732000,5940128000,6286143000,6673186000,7086935000,7601594000,8001563000,8650325000,9001839000,9155663000,9480901000,10028781000,10593946000,11372589000,12002204000,12438527000,12051307000,12541995000,13315478000,13998383000,14175503000,14983140000,15711634000,16115630000,16820250000
1,"""00000""",United States,,CAINC1,2,...,Population (persons) 1/,Number of persons,201298000,203798722,206817509,209274882,211349205,213333635,215456585,217553859,219760875,222098244,224568579,227224719,229465744,231664432,233792014,235824907,237923734,240132831,242288936,244499004,246819222,249622814,252980941,256514224,259918588,263125821,266278393,269394284,272646925,275854104,279040168,282162411,284968955,287625193,290107933,292805298,295516599,298379912,301231207,304093966,306771529,309338421,311644280,313993272,316234505,318622525,321039839,323405935,325719178
2,"""00000""",United States,,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,3931,4198,4471,4857,5363,5836,6324,6875,7516,8356,9232,10180,11300,11999,12698,13906,14755,15490,16289,17455,18676,19621,20030,21090,21733,22575,23607,24771,25993,27557,28675,30657,31589,31832,32681,34251,35849,38114,39844,40904,39284,40545,42727,44582,44826,47025,48940,49831,51640
3,"""01000""",Alabama,5,CAINC1,1,...,Personal income (thousands of dollars),Thousands of dollars,9737715,10628318,11699341,12999098,14638867,16241055,18100116,20324056,22394893,25339922,28151411,31037123,34465512,36396094,38970502,42870184,46098732,48790314,51651951,55558831,60395710,64239770,67929940,73039777,76398045,80848446,85473600,89349999,93981379,100081022,103536039,108506247,112312142,115166086,120209889,128669896,136215282,144914255,152210645,157479528,155254669,161965527,167675590,172427855,174118716,180220290,187301605,190991192,198916425
4,"""01000""",Alabama,5,CAINC1,2,...,Population (persons) 1/,Number of persons,3440000,3449846,3497452,3540080,3580769,3627805,3680533,3737204,3782736,3834120,3869444,3900368,3918533,3925263,3934100,3951824,3972520,3991569,4015262,4023842,4030219,4050055,4099156,4154014,4214202,4260229,4296800,4331102,4367935,4404701,4430141,4452173,4467634,4480089,4503491,4530729,4569805,4628981,4672840,4718206,4757938,4785579,4798649,4813946,4827660,4840037,4850858,4860545,4874747

In [40]:
data.tail(10)

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
9584,"""95000""",Southeast,5,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,3198,3469,3740,4110,4574,4994,5376,5886,6430,7192,7945,8802,9823,10407,11083,12169,12925,13611,14365,15465,16639,17472,18005,19012,19753,20605,21604,22576,23580,24966,25838,27316,28221,28650,29550,31172,32849,34845,36213,36869,35389,36475,38112,39418,39271,41206,42950,43723,45198
9585,"""96000""",Southwest,6,CAINC1,1,...,Personal income (thousands of dollars),Thousands of dollars,56500512,62538485,68407820,76144819,86581962,97435217,110068133,123376837,137741135,158696714,183167370,210219687,245543491,269938841,287699600,315287674,339561283,350079962,359140115,380981120,407156164,435969882,456159534,491174884,520514369,552547571,591291927,634836756,687796057,745133391,782043284,850146967,899786984,915580738,953977762,1009991847,1102094483,1212178119,1283509698,1388296587,1320708181,1388502208,1504486401,1603075990,1642200054,1762040572,1805775989,1814966983,1894779972
9586,"""96000""",Southwest,6,CAINC1,2,...,Population (persons) 1/,Number of persons,16328000,16621375,17076950,17502870,17942658,18354229,18789070,19269802,19710280,20180482,20776513,21426140,21985332,22791219,23405364,23776476,24165954,24584827,24747513,24859623,25083118,25411251,25917326,26491437,27115790,27772489,28419852,29019737,29625063,30239551,30827272,31380654,31891889,32430969,32923761,33475468,34098071,34944948,35624083,36269039,36899289,37472786,37972888,38521426,39030404,39619086,40243759,40820143,41339800
9587,"""96000""",Southwest,6,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,3460,3763,4006,4350,4825,5309,5858,6403,6988,7864,8816,9811,11169,11844,12292,13260,14051,14240,14512,15325,16232,17157,17601,18541,19196,19896,20806,21876,23217,24641,25369,27091,28214,28232,28975,30171,32321,34688,36029,38278,35792,37054,39620,41615,42075,44475,44871,44463,45834
9588,"""97000""",Rocky Mountain,7,CAINC1,1,...,Personal income (thousands of dollars),Thousands of dollars,17805758,19931406,22181767,25136598,28740381,32389563,35793076,39577964,44130561,51079338,57685638,65482522,74507286,80524990,86073945,93219215,98385106,101921003,105381300,111342784,120542564,128615720,136495436,147774186,159847407,171007779,184801069,198590629,212577236,231346694,246923780,270372610,282985656,287141966,295768418,311687786,335449315,367141038,393281448,409181684,391528943,405707756,438403773,467422371,485385826,521692774,550009439,564264469,593926448
9589,"""97000""",Rocky Mountain,7,CAINC1,2,...,Population (persons) 1/,Number of persons,4943000,5037873,5194044,5368407,5527390,5649835,5781745,5915555,6078758,6256862,6438928,6592318,6742612,6903979,7034816,7108977,7167704,7199874,7205624,7202616,7234109,7305119,7477155,7696444,7938748,8171343,8379865,8565452,8745913,8918147,9094461,9268926,9430982,9567277,9675332,9807510,9972107,10189958,10406301,10609537,10793888,10949084,11079489,11215355,11366966,11514638,11689105,11878018,12055738
9590,"""97000""",Rocky Mountain,7,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,3602,3956,4271,4682,5200,5733,6191,6690,7260,8164,8959,9933,11050,11664,12235,13113,13726,14156,14625,15459,16663,17606,18255,19200,20135,20928,22053,23185,24306,25941,27151,29170,30006,30013,30569,31781,33639,36030,37793,38567,36273,37054,39569,41677,42701,45307,47053,47505,49265
9591,"""98000""",Far West,8,CAINC1,1,...,Personal income (thousands of dollars),Thousands of dollars,121725092,131575529,140637143,154352867,170589067,191194445,212898961,236674946,262401174,298985644,339285827,385032058,430716207,460616744,496483181,547057767,588981643,630292024,675313275,734928945,796499853,857642580,894209042,948869619,980448450,1018476695,1073913247,1143490832,1218605432,1324509071,1411648799,1547743803,1601432788,1629696770,1704840028,1818035536,1927913227,2081151049,2183212354,2230239645,2154405245,2246368991,2391122432,2547186492,2589966233,2777826261,2978517281,3098158645,3248359269
9592,"""98000""",Far West,8,CAINC1,2,...,Population (persons) 1/,Number of persons,26635000,27101402,27570486,27918162,28327835,28800911,29346033,29929494,30553208,31285112,31964927,32779936,33433990,34086401,34716476,35321190,36037077,36815133,37640660,38542275,39534189,40610409,41427985,42225887,42797622,43271002,43744822,44314342,45053779,45798042,46505506,47188420,47891178,48493357,49053068,49601761,50090268,50570529,51031362,51608614,52167532,52686778,53176406,53679832,54161802,54695081,55249155,55772858,56250544
9593,"""98000""",Far West,8,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,4570,4855,5101,5529,6022,6638,7255,7908,8588,9557,10614,11746,12883,13513,14301,15488,16344,17120,17941,19068,20147,21119,21585,22471,22909,23537,24549,25804,27048,28921,30354,32799,33439,33607,34755,36653,38489,41153,42782,43214,41298,42636,44966,47451,47819,50787,53911,55550,57748

In [42]:
data.columns

Index(['GeoFIPS', 'GeoName', 'Region', 'TableName', 'LineCode',
       'IndustryClassification', 'Description', 'Unit', '1969', '1970', '1971',
       '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980',
       '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989',
       '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998',
       '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017'],
      dtype='object')

In [43]:
data['1969']

0       791229000
1       201298000
2            3931
3         9737715
4         3440000
          ...
9589      4943000
9590         3602
9591    121725092
9592     26635000
9593         4570
Name: 1969, Length: 9594, dtype: object

In [44]:
data['1969'].sort_values()

223        (NA)
258        (NA)
259        (NA)
260        (NA)
267        (NA)
         ...
1129       9995
5724    9996828
7150       9998
9402      99983
2823       9999
Name: 1969, Length: 9594, dtype: object

so there are undisclosed values in the cases of `(NA)`

In [45]:
data.isna().sum() # so no na values in the numpy / pandas sense

GeoFIPS                   0
GeoName                   0
Region                    0
TableName                 0
LineCode                  0
IndustryClassification    0
Description               0
Unit                      0
1969                      0
1970                      0
1971                      0
1972                      0
1973                      0
1974                      0
1975                      0
1976                      0
1977                      0
1978                      0
1979                      0
1980                      0
1981                      0
1982                      0
1983                      0
1984                      0
1985                      0
1986                      0
1987                      0
1988                      0
1989                      0
1990                      0
1991                      0
1992                      0
1993                      0
1994                      0
1995                      0
1996                      0
1997                      0
1998                      0
1999                      0
2000                      0
2001                      0
2002                      0
2003                      0
2004                      0
2005                      0
2006                      0
2007                      0
2008                      0
2009                      0
2010                      0
2011                      0
2012                      0
2013                      0
2014                      0
2015                      0
2016                      0
2017                      0
dtype: int64

In [46]:
data1 = data.replace("(NA)", 0)
data1['1969'] = data1['1969'].astype(int)

In [47]:
data1['1969'].sort_values()

310             0
306             0
307             0
308             0
309             0
          ...
9582    138939401
9576    162016453
9573    184917160
1       201298000
0       791229000
Name: 1969, Length: 9594, dtype: int64

In [48]:
for year in range(1969, 2018):
    print(year, data[data[str(year)]=='(NA)'].shape)

1969 (87, 57)
1970 (87, 57)
1971 (87, 57)
1972 (87, 57)
1973 (87, 57)
1974 (87, 57)
1975 (87, 57)
1976 (87, 57)
1977 (87, 57)
1978 (87, 57)
1979 (105, 57)
1980 (105, 57)
1981 (105, 57)
1982 (102, 57)
1983 (99, 57)
1984 (99, 57)
1985 (99, 57)
1986 (99, 57)
1987 (99, 57)
1988 (96, 57)
1989 (93, 57)
1990 (93, 57)
1991 (87, 57)
1992 (87, 57)
1993 (84, 57)
1994 (84, 57)
1995 (84, 57)
1996 (84, 57)
1997 (84, 57)
1998 (84, 57)
1999 (84, 57)
2000 (84, 57)
2001 (84, 57)
2002 (81, 57)
2003 (81, 57)
2004 (81, 57)
2005 (81, 57)
2006 (81, 57)
2007 (81, 57)
2008 (78, 57)
2009 (75, 57)
2010 (75, 57)
2011 (75, 57)
2012 (75, 57)
2013 (75, 57)
2014 (75, 57)
2015 (75, 57)
2016 (75, 57)
2017 (75, 57)

## subsetting

In [49]:
small = data[data.LineCode.isin( [2, 3] )]

In [50]:
small.shape

(6396, 57)

In [51]:
data.shape

(9594, 57)

In [52]:
small.head()

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
1,"""00000""",United States,,CAINC1,2,...,Population (persons) 1/,Number of persons,201298000,203798722,206817509,209274882,211349205,213333635,215456585,217553859,219760875,222098244,224568579,227224719,229465744,231664432,233792014,235824907,237923734,240132831,242288936,244499004,246819222,249622814,252980941,256514224,259918588,263125821,266278393,269394284,272646925,275854104,279040168,282162411,284968955,287625193,290107933,292805298,295516599,298379912,301231207,304093966,306771529,309338421,311644280,313993272,316234505,318622525,321039839,323405935,325719178
2,"""00000""",United States,,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,3931,4198,4471,4857,5363,5836,6324,6875,7516,8356,9232,10180,11300,11999,12698,13906,14755,15490,16289,17455,18676,19621,20030,21090,21733,22575,23607,24771,25993,27557,28675,30657,31589,31832,32681,34251,35849,38114,39844,40904,39284,40545,42727,44582,44826,47025,48940,49831,51640
4,"""01000""",Alabama,5,CAINC1,2,...,Population (persons) 1/,Number of persons,3440000,3449846,3497452,3540080,3580769,3627805,3680533,3737204,3782736,3834120,3869444,3900368,3918533,3925263,3934100,3951824,3972520,3991569,4015262,4023842,4030219,4050055,4099156,4154014,4214202,4260229,4296800,4331102,4367935,4404701,4430141,4452173,4467634,4480089,4503491,4530729,4569805,4628981,4672840,4718206,4757938,4785579,4798649,4813946,4827660,4840037,4850858,4860545,4874747
5,"""01000""",Alabama,5,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,2831,3081,3345,3672,4088,4477,4918,5438,5920,6609,7275,7957,8796,9272,9906,10848,11604,12223,12864,13807,14986,15861,16572,17583,18129,18977,19892,20630,21516,22721,23371,24372,25139,25706,26693,28399,29808,31306,32573,33377,32631,33844,34942,35818,36067,37235,38612,39294,40805
7,"""01001""","Autauga, AL",5,CAINC1,2,...,Population (persons) 1/,Number of persons,25166,24606,25508,27166,28463,29266,29718,29896,30462,30882,32055,32215,31985,32036,32054,32134,32245,32893,33268,33636,33996,34353,35010,35985,36953,38186,39112,40207,41238,42106,42963,44021,44889,45909,46800,48366,49676,51328,52405,53277,54135,54750,55199,54927,54695,54864,54838,55278,55504

In [53]:
for year in range(1969, 2018):
    small = small[small[str(year)] != "(NA)"] #drop all records with NA

In [54]:
small.shape

(6298, 57)

In [55]:
small.head(20)

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
1,"""00000""",United States,,CAINC1,2,...,Population (persons) 1/,Number of persons,201298000,203798722,206817509,209274882,211349205,213333635,215456585,217553859,219760875,222098244,224568579,227224719,229465744,231664432,233792014,235824907,237923734,240132831,242288936,244499004,246819222,249622814,252980941,256514224,259918588,263125821,266278393,269394284,272646925,275854104,279040168,282162411,284968955,287625193,290107933,292805298,295516599,298379912,301231207,304093966,306771529,309338421,311644280,313993272,316234505,318622525,321039839,323405935,325719178
2,"""00000""",United States,,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,3931,4198,4471,4857,5363,5836,6324,6875,7516,8356,9232,10180,11300,11999,12698,13906,14755,15490,16289,17455,18676,19621,20030,21090,21733,22575,23607,24771,25993,27557,28675,30657,31589,31832,32681,34251,35849,38114,39844,40904,39284,40545,42727,44582,44826,47025,48940,49831,51640
4,"""01000""",Alabama,5,CAINC1,2,...,Population (persons) 1/,Number of persons,3440000,3449846,3497452,3540080,3580769,3627805,3680533,3737204,3782736,3834120,3869444,3900368,3918533,3925263,3934100,3951824,3972520,3991569,4015262,4023842,4030219,4050055,4099156,4154014,4214202,4260229,4296800,4331102,4367935,4404701,4430141,4452173,4467634,4480089,4503491,4530729,4569805,4628981,4672840,4718206,4757938,4785579,4798649,4813946,4827660,4840037,4850858,4860545,4874747
5,"""01000""",Alabama,5,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,2831,3081,3345,3672,4088,4477,4918,5438,5920,6609,7275,7957,8796,9272,9906,10848,11604,12223,12864,13807,14986,15861,16572,17583,18129,18977,19892,20630,21516,22721,23371,24372,25139,25706,26693,28399,29808,31306,32573,33377,32631,33844,34942,35818,36067,37235,38612,39294,40805
7,"""01001""","Autauga, AL",5,CAINC1,2,...,Population (persons) 1/,Number of persons,25166,24606,25508,27166,28463,29266,29718,29896,30462,30882,32055,32215,31985,32036,32054,32134,32245,32893,33268,33636,33996,34353,35010,35985,36953,38186,39112,40207,41238,42106,42963,44021,44889,45909,46800,48366,49676,51328,52405,53277,54135,54750,55199,54927,54695,54864,54838,55278,55504
8,"""01001""","Autauga, AL",5,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,2780,3158,3454,3687,4039,4246,4431,5035,5320,6101,7113,7761,8190,8746,9420,10505,11357,11878,12775,13849,14808,15482,16417,17063,17700,18683,19350,20155,21076,22073,22948,23699,24682,24991,26319,27535,28766,29758,31459,32876,32603,33415,34325,35040,35464,36677,38591,39509,40484
10,"""01003""","Baldwin, AL",5,CAINC1,2,...,Population (persons) 1/,Number of persons,56951,59474,60142,62435,64196,66072,67861,70244,72399,74550,76594,78931,80287,82331,83978,86752,89401,91311,93214,94649,96198,98955,102420,106595,111416,116565,120896,125412,130164,134444,137555,141342,144875,147957,151509,156266,162183,168121,172404,175827,179406,183110,186534,190048,194736,199064,202863,207509,212628
11,"""01003""","Baldwin, AL",5,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,2760,2905,3270,3584,4176,4628,5088,5781,6009,6660,7080,7801,8941,9226,10055,10847,11726,12215,12683,13540,14937,15831,16954,18107,19106,20129,21153,22342,23434,24643,25373,26757,27119,27402,28050,30338,32292,34784,36051,35751,34698,36282,37804,38166,38212,39561,41412,43004,44079
13,"""01005""","Barbour, AL",5,CAINC1,2,...,Population (persons) 1/,Number of persons,23818,22655,23092,22854,23457,23432,24869,25609,24690,24524,24429,24763,24748,24777,24798,24952,25002,24941,25102,25230,25336,25505,26506,26941,27371,27751,27854,28298,28415,28841,28866,29015,28863,28653,28594,28287,28027,27861,27757,27808,27657,27332,27351,27175,26947,26749,26264,25774,25270
14,"""01005""","Barbour, AL",5,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,2147,2545,2686,3068,3401,3847,3962,4428,4998,5716,6217,6462,7246,7546,8095,9213,9791,10602,11171,12218,12986,13490,14180,14943,15349,15930,15912,16109,16670,17651,19015,18984,20172,20280,20904,22825,23865,24728,25537,25678,26088,27834,28106,28145,30040,29941,31509,31750,33453
16,"""01007""","Bibb, AL",5,CAINC1,2,...,Population (persons) 1/,Number of persons,14994,13798,13919,14097,14654,14391,14778,14763,15257,15355,15550,15751,15836,16020,15999,16089,16157,15918,16165,16136,16360,16697,17071,17403,17757,18053,18507,18885,19388,19851,20560,19913,21028,21199,21399,21721,22042,22099,22438,22705,22941,22872,22745,22658,22503,22533,22561,22633,22668
17,"""01007""","Bibb, AL",5,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,1988,2359,2630,2897,3180,3530,3811,4394,4731,5433,6051,6525,6992,7314,7887,8759,9320,10031,10302,11291,11917,12672,12896,13494,13936,14686,15352,15892,16375,16154,16475,17687,17979,18678,19660,20999,21375,22736,24095,24983,23789,25091,25973,27028,27420,28249,29048,28989,30022
19,"""01009""","Blount, AL",5,CAINC1,2,...,Population (persons) 1/,Number of persons,26411,26999,27817,29296,30357,31537,32219,33048,34219,34845,35959,36508,36641,36355,36428,36790,37417,37995,38017,38250,38771,39473,40190,40822,41866,42520,44060,45344,47055,48824,50237,51107,51845,52551,53457,54124,54624,55485,56240,57055,57341,57381,57562,57595,57623,57546,57590,57562,58013
20,"""01009""","Blount, AL",5,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,2625,2595,2790,3108,3618,3669,4312,4679,5022,5640,6099,6789,7387,7672,8041,8965,9816,9961,10566,11944,13131,13797,14269,14761,15205,15923,16537,17663,18109,19265,19721,20291,21339,21304,22354,23543,24379,24787,26549,27661,27381,27754,28368,29600,30188,31359,31987,32261,33707
22,"""01011""","Bullock, AL",5,CAINC1,2,...,Population (persons) 1/,Number of persons,12554,11749,11418,11443,11274,11141,11097,11112,11015,10954,10799,10616,10679,10639,10686,10824,10777,10459,10891,11184,11170,11032,11188,11125,11219,11370,11431,11574,11624,11655,11755,11581,11358,11256,11316,11056,11011,10776,11011,10953,10987,10880,10675,10612,10549,10673,10419,10441,10309
23,"""01011""","Bullock, AL",5,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,1809,2165,2389,2755,3195,3355,3460,4065,4451,4781,5322,5484,6156,6314,7050,7013,7602,8159,8035,8553,9650,10483,11378,12304,12645,12939,13667,13611,14796,15792,16125,15870,17022,17756,17887,18343,18478,20212,20976,23059,23775,23479,24112,25172,26126,25052,26222,26450,27500
25,"""01013""","Butler, AL",5,CAINC1,2,...,Population (persons) 1/,Number of persons,22726,21987,21846,21530,21237,21160,21169,21351,20872,20911,21204,21789,22186,22399,22384,22443,22427,22340,22405,22207,22035,21886,21755,21794,21813,21851,21824,21863,21840,21718,21605,21325,21139,20803,20833,20870,20830,20815,20894,20949,20867,20944,20880,20688,20372,20327,20141,19965,19825
26,"""01013""","Butler, AL",5,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,2017,2210,2373,2762,3184,3478,3885,4261,4693,5572,6157,6464,7355,7322,7817,8282,8591,9126,9573,10107,10741,11293,11994,12847,13580,14476,15576,16171,16408,17620,18347,19112,21212,22013,22748,23799,24496,25136,27005,27698,27363,28554,28824,30051,31470,32832,33700,33888,35196
28,"""01015""","Calhoun, AL",5,CAINC1,2,...,Population (persons) 1/,Number of persons,102946,103125,103622,103846,105027,105917,107005,112768,112801,116474,116742,120016,120814,122109,121249,121739,118644,117700,118092,117260,116381,116118,115247,115804,116324,116161,116790,116684,117254,117179,114910,111081,111266,111625,112705,113462,114477,115388,116211,117274,118363,118466,117785,117219,116482,115941,115505,114980,114728
29,"""01015""","Calhoun, AL",5,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,2957,3044,3412,3818,4129,4583,5207,5537,6224,6667,7278,8106,8854,9376,10055,11017,11828,12492,12918,13709,14641,15149,16062,16853,17238,17846,18696,19270,19828,21047,21512,22158,23234,24152,25154,26552,27442,28535,30072,30883,30207,30977,31874,32343,32021,33087,34188,34869,36255

In [56]:
small['1969']

1       201298000
2            3931
4         3440000
5            2831
7           25166
          ...
9587         3460
9589      4943000
9590         3602
9592     26635000
9593         4570
Name: 1969, Length: 6298, dtype: object

In [57]:
convert_dict = dict([(str(year), int) for year in range (1969, 2018)])

In [58]:
small = small.astype(convert_dict)

In [59]:
small['1969']

1       201298000
2            3931
4         3440000
5            2831
7           25166
          ...
9587         3460
9589      4943000
9590         3602
9592     26635000
9593         4570
Name: 1969, Length: 6298, dtype: int64

In [60]:
small['2017']

1       325719178
2           51640
4         4874747
5           40805
7           55504
          ...
9587        45834
9589     12055738
9590        49265
9592     56250544
9593        57748
Name: 2017, Length: 6298, dtype: int64

In [61]:
geofips = pandas.unique(small.GeoFIPS)

In [62]:
geofips

array([' "00000"', ' "01000"', ' "01001"', ..., ' "96000"', ' "97000"',
       ' "98000"'], dtype=object)

In [63]:
geofips.shape

(3149,)

In [64]:
small['GeoFIPS'] = [fips.replace("\"", "").strip() for fips in small.GeoFIPS]

In [65]:
geofips = pandas.unique(small.GeoFIPS)

In [66]:
geofips

array(['00000', '01000', '01001', ..., '96000', '97000', '98000'],
      dtype=object)

In [67]:
pc_inc = small[small.LineCode==3]

In [68]:
pc_inc.shape

(3149, 57)

In [69]:
pc_inc.head()

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
2,00000,United States,,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,3931,4198,4471,4857,5363,5836,6324,6875,7516,8356,9232,10180,11300,11999,12698,13906,14755,15490,16289,17455,18676,19621,20030,21090,21733,22575,23607,24771,25993,27557,28675,30657,31589,31832,32681,34251,35849,38114,39844,40904,39284,40545,42727,44582,44826,47025,48940,49831,51640
5,01000,Alabama,5,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,2831,3081,3345,3672,4088,4477,4918,5438,5920,6609,7275,7957,8796,9272,9906,10848,11604,12223,12864,13807,14986,15861,16572,17583,18129,18977,19892,20630,21516,22721,23371,24372,25139,25706,26693,28399,29808,31306,32573,33377,32631,33844,34942,35818,36067,37235,38612,39294,40805
8,01001,"Autauga, AL",5,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,2780,3158,3454,3687,4039,4246,4431,5035,5320,6101,7113,7761,8190,8746,9420,10505,11357,11878,12775,13849,14808,15482,16417,17063,17700,18683,19350,20155,21076,22073,22948,23699,24682,24991,26319,27535,28766,29758,31459,32876,32603,33415,34325,35040,35464,36677,38591,39509,40484
11,01003,"Baldwin, AL",5,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,2760,2905,3270,3584,4176,4628,5088,5781,6009,6660,7080,7801,8941,9226,10055,10847,11726,12215,12683,13540,14937,15831,16954,18107,19106,20129,21153,22342,23434,24643,25373,26757,27119,27402,28050,30338,32292,34784,36051,35751,34698,36282,37804,38166,38212,39561,41412,43004,44079
14,01005,"Barbour, AL",5,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,2147,2545,2686,3068,3401,3847,3962,4428,4998,5716,6217,6462,7246,7546,8095,9213,9791,10602,11171,12218,12986,13490,14180,14943,15349,15930,15912,16109,16670,17651,19015,18984,20172,20280,20904,22825,23865,24728,25537,25678,26088,27834,28106,28145,30040,29941,31509,31750,33453

In [70]:
pc_inc.max()

GeoFIPS                                                     98000
GeoName                                               Ziebach, SD
Region                                                          8
TableName                                                  CAINC1
LineCode                                                        3
IndustryClassification                                        ...
Description               Per capita personal income (dollars) 2/
Unit                                                      Dollars
1969                                                         7841
1970                                                         9517
1971                                                        10214
1972                                                        11699
1973                                                        13662
1974                                                        14046
1975                                                        20221
1976                                                        19124
1977                                                        17694
1978                                                        20364
1979                                                        21156
1980                                                        22809
1981                                                        22614
1982                                                        23689
1983                                                        24164
1984                                                        31473
1985                                                        28259
1986                                                        30685
1987                                                        34745
1988                                                        41126
1989                                                        44237
1990                                                        50091
1991                                                        46357
1992                                                        51236
1993                                                        53117
1994                                                        54535
1995                                                        59088
1996                                                        64417
1997                                                        69236
1998                                                        75294
1999                                                        81086
2000                                                        88662
2001                                                        93435
2002                                                        90976
2003                                                        88570
2004                                                       100802
2005                                                       117798
2006                                                       147744
2007                                                       156745
2008                                                       152558
2009                                                       125633
2010                                                       145017
2011                                                       151738
2012                                                       194277
2013                                                       178164
2014                                                       200007
2015                                                       204913
2016                                                       224366
2017                                                       233860
dtype: object

In [71]:
cid_1969 = pc_inc.columns.get_loc('1969')
cid_1969

8

In [72]:
pc_inc.iloc[:,8]

2       3931
5       2831
8       2780
11      2760
14      2147
        ...
9581    3661
9584    3198
9587    3460
9590    3602
9593    4570
Name: 1969, Length: 3149, dtype: int64

In [73]:
pc_inc.iloc[:, 8:20]

      1969  1970  1971  1972  1973  1974  1975  1976  1977  1978   1979   1980
2     3931  4198  4471  4857  5363  5836  6324  6875  7516  8356   9232  10180
5     2831  3081  3345  3672  4088  4477  4918  5438  5920  6609   7275   7957
8     2780  3158  3454  3687  4039  4246  4431  5035  5320  6101   7113   7761
11    2760  2905  3270  3584  4176  4628  5088  5781  6009  6660   7080   7801
14    2147  2545  2686  3068  3401  3847  3962  4428  4998  5716   6217   6462
...    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...    ...    ...
9581  3661  3935  4204  4619  5367  5665  6191  6588  7245  8162   8968   9631
9584  3198  3469  3740  4110  4574  4994  5376  5886  6430  7192   7945   8802
9587  3460  3763  4006  4350  4825  5309  5858  6403  6988  7864   8816   9811
9590  3602  3956  4271  4682  5200  5733  6191  6690  7260  8164   8959   9933
9593  4570  4855  5101  5529  6022  6638  7255  7908  8588  9557  10614  11746

[3149 rows x 12 columns]

In [74]:
pc_inc.iloc[:, 8:].idxmax(axis=0)

1969    5747
1970     227
1971     227
1972    8225
1973     227
1974     227
1975    8405
1976     227
1977     227
1978     227
1979     227
1980     227
1981     245
1982     227
1983     227
1984    5393
1985    5747
1986    5747
1987    5747
1988    5747
1989    5747
1990    5747
1991    5747
1992    5747
1993    5747
1994    5747
1995    5747
1996    5747
1997    5747
1998    5747
1999    5747
2000    5747
2001    5747
2002    5747
2003    5747
2004    9560
2005    9560
2006    9560
2007    9560
2008    9560
2009    9560
2010    9560
2011    9560
2012    9560
2013    9560
2014    9560
2015    9560
2016    9560
2017    9560
dtype: int64

In [75]:
max_ids = pc_inc.iloc[:, 8:].idxmax() 
pc_inc.loc[max_ids]

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
5747,36061,"New York, NY",2,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,7841,8509,9128,9770,10218,10969,11840,12591,13875,15467,16711,18174,20152,21747,23983,25687,28259,30685,34745,41126,44237,50091,46357,51236,53117,54535,59088,64417,69236,75294,81086,88662,93435,90976,88570,89987,97411,110487,123759,120077,114549,121550,132395,140628,145231,152690,155779,164056,175960
227,02060,"Bristol Bay Borough, AK",8,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,7674,9517,10214,11095,13662,14046,15894,19124,17694,20364,21156,22809,21996,23689,24164,25139,26784,29048,25352,26582,30647,34957,35312,33609,30212,39021,38887,34536,34323,32669,32831,37688,32329,34040,39071,39830,43861,47859,53690,52063,62950,72191,79608,92910,110017,116223,110560,119811,126725
227,02060,"Bristol Bay Borough, AK",8,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,7674,9517,10214,11095,13662,14046,15894,19124,17694,20364,21156,22809,21996,23689,24164,25139,26784,29048,25352,26582,30647,34957,35312,33609,30212,39021,38887,34536,34323,32669,32831,37688,32329,34040,39071,39830,43861,47859,53690,52063,62950,72191,79608,92910,110017,116223,110560,119811,126725
8225,48301,"Loving, TX",6,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,1166,3079,5815,11699,9863,9124,10618,14385,5821,13947,11115,17878,21207,23643,23769,25345,27554,25451,27628,24990,22364,32029,35302,29780,36624,31702,31757,25064,40692,37639,38558,45169,46015,38733,42958,59655,46957,48640,49329,52574,29039,26381,26242,27953,23953,36517,31134,48070,45858
227,02060,"Bristol Bay Borough, AK",8,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,7674,9517,10214,11095,13662,14046,15894,19124,17694,20364,21156,22809,21996,23689,24164,25139,26784,29048,25352,26582,30647,34957,35312,33609,30212,39021,38887,34536,34323,32669,32831,37688,32329,34040,39071,39830,43861,47859,53690,52063,62950,72191,79608,92910,110017,116223,110560,119811,126725
227,02060,"Bristol Bay Borough, AK",8,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,7674,9517,10214,11095,13662,14046,15894,19124,17694,20364,21156,22809,21996,23689,24164,25139,26784,29048,25352,26582,30647,34957,35312,33609,30212,39021,38887,34536,34323,32669,32831,37688,32329,34040,39071,39830,43861,47859,53690,52063,62950,72191,79608,92910,110017,116223,110560,119811,126725
8405,48421,"Sherman, TX",6,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,7111,6387,7198,5954,9507,6229,20221,9385,10968,8462,14714,12451,16397,16758,23443,23267,24031,24974,26515,28557,26483,33378,33982,32460,37177,31216,28720,29206,31246,35848,36697,37771,35725,33433,33404,34068,39698,33699,38754,36146,34049,46377,63572,63243,60857,62752,83495,56207,64897
227,02060,"Bristol Bay Borough, AK",8,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,7674,9517,10214,11095,13662,14046,15894,19124,17694,20364,21156,22809,21996,23689,24164,25139,26784,29048,25352,26582,30647,34957,35312,33609,30212,39021,38887,34536,34323,32669,32831,37688,32329,34040,39071,39830,43861,47859,53690,52063,62950,72191,79608,92910,110017,116223,110560,119811,126725
227,02060,"Bristol Bay Borough, AK",8,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,7674,9517,10214,11095,13662,14046,15894,19124,17694,20364,21156,22809,21996,23689,24164,25139,26784,29048,25352,26582,30647,34957,35312,33609,30212,39021,38887,34536,34323,32669,32831,37688,32329,34040,39071,39830,43861,47859,53690,52063,62950,72191,79608,92910,110017,116223,110560,119811,126725
227,02060,"Bristol Bay Borough, AK",8,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,7674,9517,10214,11095,13662,14046,15894,19124,17694,20364,21156,22809,21996,23689,24164,25139,26784,29048,25352,26582,30647,34957,35312,33609,30212,39021,38887,34536,34323,32669,32831,37688,32329,34040,39071,39830,43861,47859,53690,52063,62950,72191,79608,92910,110017,116223,110560,119811,126725
227,02060,"Bristol Bay Borough, AK",8,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,7674,9517,10214,11095,13662,14046,15894,19124,17694,20364,21156,22809,21996,23689,24164,25139,26784,29048,25352,26582,30647,34957,35312,33609,30212,39021,38887,34536,34323,32669,32831,37688,32329,34040,39071,39830,43861,47859,53690,52063,62950,72191,79608,92910,110017,116223,110560,119811,126725
227,02060,"Bristol Bay Borough, AK",8,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,7674,9517,10214,11095,13662,14046,15894,19124,17694,20364,21156,22809,21996,23689,24164,25139,26784,29048,25352,26582,30647,34957,35312,33609,30212,39021,38887,34536,34323,32669,32831,37688,32329,34040,39071,39830,43861,47859,53690,52063,62950,72191,79608,92910,110017,116223,110560,119811,126725
245,02110,"Juneau City and Borough, AK",8,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,6642,7570,8196,8853,9330,10183,12253,13732,14583,16680,17060,20354,22614,23450,23525,23654,24200,23436,23562,24987,27038,27581,28384,29917,30461,31804,33192,33402,34307,35047,35431,38257,39336,39391,40918,41637,43951,46283,49488,52452,51914,54809,57763,60950,60139,63124,63861,64319,66367
227,02060,"Bristol Bay Borough, AK",8,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,7674,9517,10214,11095,13662,14046,15894,19124,17694,20364,21156,22809,21996,23689,24164,25139,26784,29048,25352,26582,30647,34957,35312,33609,30212,39021,38887,34536,34323,32669,32831,37688,32329,34040,39071,39830,43861,47859,53690,52063,62950,72191,79608,92910,110017,116223,110560,119811,126725
227,02060,"Bristol Bay Borough, AK",8,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,7674,9517,10214,11095,13662,14046,15894,19124,17694,20364,21156,22809,21996,23689,24164,25139,26784,29048,25352,26582,30647,34957,35312,33609,30212,39021,38887,34536,34323,32669,32831,37688,32329,34040,39071,39830,43861,47859,53690,52063,62950,72191,79608,92910,110017,116223,110560,119811,126725
5393,31183,"Wheeler, NE",4,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,2288,2429,3176,3488,5481,4499,3917,4938,3795,5636,5469,6549,9520,15594,18692,31473,25460,19690,22685,21192,19714,22433,22698,21549,25981,24300,26086,25936,29073,28468,28631,32327,32372,32411,39158,33448,44567,35500,33080,38209,39578,47211,66566,64664,84710,119102,129728,109204,82615
5747,36061,"New York, NY",2,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,7841,8509,9128,9770,10218,10969,11840,12591,13875,15467,16711,18174,20152,21747,23983,25687,28259,30685,34745,41126,44237,50091,46357,51236,53117,54535,59088,64417,69236,75294,81086,88662,93435,90976,88570,89987,97411,110487,123759,120077,114549,121550,132395,140628,145231,152690,155779,164056,175960
5747,36061,"New York, NY",2,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,7841,8509,9128,9770,10218,10969,11840,12591,13875,15467,16711,18174,20152,21747,23983,25687,28259,30685,34745,41126,44237,50091,46357,51236,53117,54535,59088,64417,69236,75294,81086,88662,93435,90976,88570,89987,97411,110487,123759,120077,114549,121550,132395,140628,145231,152690,155779,164056,175960
5747,36061,"New York, NY",2,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,7841,8509,9128,9770,10218,10969,11840,12591,13875,15467,16711,18174,20152,21747,23983,25687,28259,30685,34745,41126,44237,50091,46357,51236,53117,54535,59088,64417,69236,75294,81086,88662,93435,90976,88570,89987,97411,110487,123759,120077,114549,121550,132395,140628,145231,152690,155779,164056,175960
5747,36061,"New York, NY",2,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,7841,8509,9128,9770,10218,10969,11840,12591,13875,15467,16711,18174,20152,21747,23983,25687,28259,30685,34745,41126,44237,50091,46357,51236,53117,54535,59088,64417,69236,75294,81086,88662,93435,90976,88570,89987,97411,110487,123759,120077,114549,121550,132395,140628,145231,152690,155779,164056,175960
5747,36061,"New York, NY",2,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,7841,8509,9128,9770,10218,10969,11840,12591,13875,15467,16711,18174,20152,21747,23983,25687,28259,30685,34745,41126,44237,50091,46357,51236,53117,54535,59088,64417,69236,75294,81086,88662,93435,90976,88570,89987,97411,110487,123759,120077,114549,121550,132395,140628,145231,152690,155779,164056,175960
5747,36061,"New York, NY",2,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,7841,8509,9128,9770,10218,10969,11840,12591,13875,15467,16711,18174,20152,21747,23983,25687,28259,30685,34745,41126,44237,50091,46357,51236,53117,54535,59088,64417,69236,75294,81086,88662,93435,90976,88570,89987,97411,110487,123759,120077,114549,121550,132395,140628,145231,152690,155779,164056,175960
5747,36061,"New York, NY",2,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,7841,8509,9128,9770,10218,10969,11840,12591,13875,15467,16711,18174,20152,21747,23983,25687,28259,30685,34745,41126,44237,50091,46357,51236,53117,54535,59088,64417,69236,75294,81086,88662,93435,90976,88570,89987,97411,110487,123759,120077,114549,121550,132395,140628,145231,152690,155779,164056,175960
5747,36061,"New York, NY",2,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,7841,8509,9128,9770,10218,10969,11840,12591,13875,15467,16711,18174,20152,21747,23983,25687,28259,30685,34745,41126,44237,50091,46357,51236,53117,54535,59088,64417,69236,75294,81086,88662,93435,90976,88570,89987,97411,110487,123759,120077,114549,121550,132395,140628,145231,152690,155779,164056,175960
5747,36061,"New York, NY",2,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,7841,8509,9128,9770,10218,10969,11840,12591,13875,15467,16711,18174,20152,21747,23983,25687,28259,30685,34745,41126,44237,50091,46357,51236,53117,54535,59088,64417,69236,75294,81086,88662,93435,90976,88570,89987,97411,110487,123759,120077,114549,121550,132395,140628,145231,152690,155779,164056,175960
5747,36061,"New York, NY",2,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,7841,8509,9128,9770,10218,10969,11840,12591,13875,15467,16711,18174,20152,21747,23983,25687,28259,30685,34745,41126,44237,50091,46357,51236,53117,54535,59088,64417,69236,75294,81086,88662,93435,90976,88570,89987,97411,110487,123759,120077,114549,121550,132395,140628,145231,152690,155779,164056,175960
5747,36061,"New York, NY",2,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,7841,8509,9128,9770,10218,10969,11840,12591,13875,15467,16711,18174,20152,21747,23983,25687,28259,30685,34745,41126,44237,50091,46357,51236,53117,54535,59088,64417,69236,75294,81086,88662,93435,90976,88570,89987,97411,110487,123759,120077,114549,121550,132395,140628,145231,152690,155779,164056,175960
5747,36061,"New York, NY",2,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,7841,8509,9128,9770,10218,10969,11840,12591,13875,15467,16711,18174,20152,21747,23983,25687,28259,30685,34745,41126,44237,50091,46357,51236,53117,54535,59088,64417,69236,75294,81086,88662,93435,90976,88570,89987,97411,110487,123759,120077,114549,121550,132395,140628,145231,152690,155779,164056,175960
5747,36061,"New York, NY",2,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,7841,8509,9128,9770,10218,10969,11840,12591,13875,15467,16711,18174,20152,21747,23983,25687,28259,30685,34745,41126,44237,50091,46357,51236,53117,54535,59088,64417,69236,75294,81086,88662,93435,90976,88570,89987,97411,110487,123759,120077,114549,121550,132395,140628,145231,152690,155779,164056,175960
5747,36061,"New York, NY",2,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,7841,8509,9128,9770,10218,10969,11840,12591,13875,15467,16711,18174,20152,21747,23983,25687,28259,30685,34745,41126,44237,50091,46357,51236,53117,54535,59088,64417,69236,75294,81086,88662,93435,90976,88570,89987,97411,110487,123759,120077,114549,121550,132395,140628,145231,152690,155779,164056,175960
5747,36061,"New York, NY",2,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,7841,8509,9128,9770,10218,10969,11840,12591,13875,15467,16711,18174,20152,21747,23983,25687,28259,30685,34745,41126,44237,50091,46357,51236,53117,54535,59088,64417,69236,75294,81086,88662,93435,90976,88570,89987,97411,110487,123759,120077,114549,121550,132395,140628,145231,152690,155779,164056,175960
5747,36061,"New York, NY",2,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,7841,8509,9128,9770,10218,10969,11840,12591,13875,15467,16711,18174,20152,21747,23983,25687,28259,30685,34745,41126,44237,50091,46357,51236,53117,54535,59088,64417,69236,75294,81086,88662,93435,90976,88570,89987,97411,110487,123759,120077,114549,121550,132395,140628,145231,152690,155779,164056,175960
5747,36061,"New York, NY",2,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,7841,8509,9128,9770,10218,10969,11840,12591,13875,15467,16711,18174,20152,21747,23983,25687,28259,30685,34745,41126,44237,50091,46357,51236,53117,54535,59088,64417,69236,75294,81086,88662,93435,90976,88570,89987,97411,110487,123759,120077,114549,121550,132395,140628,145231,152690,155779,164056,175960
5747,36061,"New York, NY",2,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,7841,8509,9128,9770,10218,10969,11840,12591,13875,15467,16711,18174,20152,21747,23983,25687,28259,30685,34745,41126,44237,50091,46357,51236,53117,54535,59088,64417,69236,75294,81086,88662,93435,90976,88570,89987,97411,110487,123759,120077,114549,121550,132395,140628,145231,152690,155779,164056,175960
5747,36061,"New York, NY",2,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,7841,8509,9128,9770,10218,10969,11840,12591,13875,15467,16711,18174,20152,21747,23983,25687,28259,30685,34745,41126,44237,50091,46357,51236,53117,54535,59088,64417,69236,75294,81086,88662,93435,90976,88570,89987,97411,110487,123759,120077,114549,121550,132395,140628,145231,152690,155779,164056,175960
9560,56039,"Teton, WY",7,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,5850,6328,6939,7195,7860,8659,9574,9735,10756,11877,12811,14829,16436,16983,17778,18890,21227,23322,23524,26155,30210,35525,35656,38354,42881,43988,48664,51107,54243,62147,68794,73671,76277,79011,86182,100802,117798,147744,156745,152558,125633,145017,151738,194277,178164,200007,204913,224366,233860
9560,56039,"Teton, WY",7,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,5850,6328,6939,7195,7860,8659,9574,9735,10756,11877,12811,14829,16436,16983,17778,18890,21227,23322,23524,26155,30210,35525,35656,38354,42881,43988,48664,51107,54243,62147,68794,73671,76277,79011,86182,100802,117798,147744,156745,152558,125633,145017,151738,194277,178164,200007,204913,224366,233860
9560,56039,"Teton, WY",7,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,5850,6328,6939,7195,7860,8659,9574,9735,10756,11877,12811,14829,16436,16983,17778,18890,21227,23322,23524,26155,30210,35525,35656,38354,42881,43988,48664,51107,54243,62147,68794,73671,76277,79011,86182,100802,117798,147744,156745,152558,125633,145017,151738,194277,178164,200007,204913,224366,233860
9560,56039,"Teton, WY",7,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,5850,6328,6939,7195,7860,8659,9574,9735,10756,11877,12811,14829,16436,16983,17778,18890,21227,23322,23524,26155,30210,35525,35656,38354,42881,43988,48664,51107,54243,62147,68794,73671,76277,79011,86182,100802,117798,147744,156745,152558,125633,145017,151738,194277,178164,200007,204913,224366,233860
9560,56039,"Teton, WY",7,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,5850,6328,6939,7195,7860,8659,9574,9735,10756,11877,12811,14829,16436,16983,17778,18890,21227,23322,23524,26155,30210,35525,35656,38354,42881,43988,48664,51107,54243,62147,68794,73671,76277,79011,86182,100802,117798,147744,156745,152558,125633,145017,151738,194277,178164,200007,204913,224366,233860
9560,56039,"Teton, WY",7,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,5850,6328,6939,7195,7860,8659,9574,9735,10756,11877,12811,14829,16436,16983,17778,18890,21227,23322,23524,26155,30210,35525,35656,38354,42881,43988,48664,51107,54243,62147,68794,73671,76277,79011,86182,100802,117798,147744,156745,152558,125633,145017,151738,194277,178164,200007,204913,224366,233860
9560,56039,"Teton, WY",7,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,5850,6328,6939,7195,7860,8659,9574,9735,10756,11877,12811,14829,16436,16983,17778,18890,21227,23322,23524,26155,30210,35525,35656,38354,42881,43988,48664,51107,54243,62147,68794,73671,76277,79011,86182,100802,117798,147744,156745,152558,125633,145017,151738,194277,178164,200007,204913,224366,233860
9560,56039,"Teton, WY",7,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,5850,6328,6939,7195,7860,8659,9574,9735,10756,11877,12811,14829,16436,16983,17778,18890,21227,23322,23524,26155,30210,35525,35656,38354,42881,43988,48664,51107,54243,62147,68794,73671,76277,79011,86182,100802,117798,147744,156745,152558,125633,145017,151738,194277,178164,200007,204913,224366,233860
9560,56039,"Teton, WY",7,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,5850,6328,6939,7195,7860,8659,9574,9735,10756,11877,12811,14829,16436,16983,17778,18890,21227,23322,23524,26155,30210,35525,35656,38354,42881,43988,48664,51107,54243,62147,68794,73671,76277,79011,86182,100802,117798,147744,156745,152558,125633,145017,151738,194277,178164,200007,204913,224366,233860
9560,56039,"Teton, WY",7,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,5850,6328,6939,7195,7860,8659,9574,9735,10756,11877,12811,14829,16436,16983,17778,18890,21227,23322,23524,26155,30210,35525,35656,38354,42881,43988,48664,51107,54243,62147,68794,73671,76277,79011,86182,100802,117798,147744,156745,152558,125633,145017,151738,194277,178164,200007,204913,224366,233860
9560,56039,"Teton, WY",7,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,5850,6328,6939,7195,7860,8659,9574,9735,10756,11877,12811,14829,16436,16983,17778,18890,21227,23322,23524,26155,30210,35525,35656,38354,42881,43988,48664,51107,54243,62147,68794,73671,76277,79011,86182,100802,117798,147744,156745,152558,125633,145017,151738,194277,178164,200007,204913,224366,233860
9560,56039,"Teton, WY",7,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,5850,6328,6939,7195,7860,8659,9574,9735,10756,11877,12811,14829,16436,16983,17778,18890,21227,23322,23524,26155,30210,35525,35656,38354,42881,43988,48664,51107,54243,62147,68794,73671,76277,79011,86182,100802,117798,147744,156745,152558,125633,145017,151738,194277,178164,200007,204913,224366,233860
9560,56039,"Teton, WY",7,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,5850,6328,6939,7195,7860,8659,9574,9735,10756,11877,12811,14829,16436,16983,17778,18890,21227,23322,23524,26155,30210,35525,35656,38354,42881,43988,48664,51107,54243,62147,68794,73671,76277,79011,86182,100802,117798,147744,156745,152558,125633,145017,151738,194277,178164,200007,204913,224366,233860
9560,56039,"Teton, WY",7,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,5850,6328,6939,7195,7860,8659,9574,9735,10756,11877,12811,14829,16436,16983,17778,18890,21227,23322,23524,26155,30210,35525,35656,38354,42881,43988,48664,51107,54243,62147,68794,73671,76277,79011,86182,100802,117798,147744,156745,152558,125633,145017,151738,194277,178164,200007,204913,224366,233860

In [76]:
for y, max_id in enumerate(max_ids):
    year = y + 1969
    name = pc_inc.loc[max_id].GeoName
    pci = pc_inc.loc[max_id, str(year)]
    print(year, pci, name)

1969 7841 New York, NY
1970 9517 Bristol Bay Borough, AK
1971 10214 Bristol Bay Borough, AK
1972 11699 Loving, TX
1973 13662 Bristol Bay Borough, AK
1974 14046 Bristol Bay Borough, AK
1975 20221 Sherman, TX
1976 19124 Bristol Bay Borough, AK
1977 17694 Bristol Bay Borough, AK
1978 20364 Bristol Bay Borough, AK
1979 21156 Bristol Bay Borough, AK
1980 22809 Bristol Bay Borough, AK
1981 22614 Juneau City and Borough, AK
1982 23689 Bristol Bay Borough, AK
1983 24164 Bristol Bay Borough, AK
1984 31473 Wheeler, NE
1985 28259 New York, NY
1986 30685 New York, NY
1987 34745 New York, NY
1988 41126 New York, NY
1989 44237 New York, NY
1990 50091 New York, NY
1991 46357 New York, NY
1992 51236 New York, NY
1993 53117 New York, NY
1994 54535 New York, NY
1995 59088 New York, NY
1996 64417 New York, NY
1997 69236 New York, NY
1998 75294 New York, NY
1999 81086 New York, NY
2000 88662 New York, NY
2001 93435 New York, NY
2002 90976 New York, NY
2003 88570 New York, NY
2004 100802 Teton, WY
2005 117798 Teton, WY
2006 147744 Teton, WY
2007 156745 Teton, WY
2008 152558 Teton, WY
2009 125633 Teton, WY
2010 145017 Teton, WY
2011 151738 Teton, WY
2012 194277 Teton, WY
2013 178164 Teton, WY
2014 200007 Teton, WY
2015 204913 Teton, WY
2016 224366 Teton, WY
2017 233860 Teton, WY